@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$preto: #000000;
$cinza: #1A1A1A;
$amarelo: #FACD34;
$branco: #EAF0F1;

$OpesnSans: 'Open Sans', sans-serif;

$f-thin : 100;
$f-light : 300;
$f-regular : 400;
$f-medium : 500;
$f-semibold : 600;
$f-bold : 700;
$f-extrabold : 800;
$f-black : 900;





